/* ---------- ↓ NAVIGATION BAR ↓ ---------- */
body {
  margin: 0;
  padding: 0;
  background-color: lightgray;
}

header {
  background: white;
  position: fixed;
  margin-top: -12.3vw;
  width: 100%;
  border-bottom-style: solid;
  border-bottom-width: 9px;
}


.container {
  width: 100%;
  margin: 0 auto;
}

.NavBar {
  float: right;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.container .ourLogo {
  float: left;
  padding: 1vw 0;
  width: 21%;
}

.NavBar li {
  display: inline-block;
  padding-top: 2vw;
  position: relative;
  margin-left: 5.8vw;
}

.NavBar a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 2.5vw;
  display: block;
  font-family:sans-serif;
}

.NavBar a:hover {
  color: black;
}

.NavBar a.active {
  border: solid #000;
  padding: 0.1vw;
  border-width: 0.7vw;
}

.NavBar a::before {
  content: '';
  display: block;
  height: 10px;
  background-color: blue;
  position: absolute;
  bottom: -3px;
  width: 0%;
  transition: all ease-in-out 200ms;
}

.NavBar a:hover::before {
  width: 100%;
}

.NavBar ul {
  padding: 0.5vw 14vw 0 0;
  margin: 0;
  list-style: none;
}

 @media only screen and (min-width: 0px) and (max-width: 1000px){
  .container .ourLogo {
    padding: 4vw 0;
  }


  .NavBar ul {
    padding: 5vw 4vw 0 0;
  }

  .NavBar .OurCompanyTitle {
    margin-left: 6vw;
  }

  .NavBar a {
    font-size: 3.4vw;
  }
}

/* ---------- ↓ INDEX PAGE ↓ ---------- */
.Intro {
  margin-top: 5%;
}

.TekstboksVisjon {
  margin-top: 3%;
  background-color: white;
  height: 30vw;
  display: block;
}

.VisjonTekst {
  margin-top: 12.3vw;
}

.VisjonTekst p {
  margin-right: 8%;
  padding-top: 7%;
  font-family: sans-serif;
  font-size: 3.1vw;
  letter-spacing: 0.05em;
  line-height: 1.5em;
  font-weight: 500;
}

.TekstboksVisjon img {
  float: left;
  margin-right: 5%;
  height: 100%;
}


.TekstboksProblem {
  margin-top: 3%;
  background-color: white;
  margin-left: 15%;
  margin-right: 15%;
}

.TekstboksProblem h1 {
  text-align: center;
  padding-top: 1vw;
  font-family: sans-serif;
  font-size: 4vw;
}

.GenderGap{
  width: 60%;
margin: 6% 20% 2% 20%;
border: 3px solid black;
border-radius: 2vw;
}

.TekstboksProblem p {
  font-family: sans-serif;
  font-size: 1.8vw;
  letter-spacing: 0.05em;
  line-height: 1.5em;
  padding-left: 5%;
  padding-right: 5%;
  font-weight: 500;
}
.TekstboksProblem .OutDoorImg img{
  background-color: lightgray;
      width: 46%;
      float: right;
      margin: 1vw 2vw 1vw 3vw;
      border-style: hidden;
      border-radius: 14px;
      border-style: solid;
}
.Remain{
  width: 60%;
  margin: 7% 20% 2% 20%;
  border-radius: 1vw;
}

@media screen and (max-width: 1160px){
  .TekstboksProblem{
    margin:3% 7% 3% 7%;
  }
}

@media screen and (max-width: 640px){
  .TekstboksProblem{
    margin:3% 4% 3% 4%;
  }
}

@media screen and (max-width: 380px){
  .TekstboksProblem{
    margin:3% 4% 3% 4%;
  }

}
@media screen and (min-width: 1250px)and (max-width: 1499px){
  .TekstboksProblem{
    margin:3% 15% 3% 15%;
  }
}

@media screen and (min-width: 1500px){
  .TekstboksProblem{
    margin:3% 10% 3% 10%;
  }
}

@media screen and (min-width: 0px) and (max-width: 500px){
  .TekstboksProblem p{
    font-size: 3.5vw;
  }
  .TekstboksProblem h1{
    font-size: 3.8vw;
  }
}

@media screen and (min-width: 500px) and (max-width: 750px){
  .TekstboksProblem p{
    font-size: 2.7vw;
  }
  .TekstboksProblem h1{
    font-size: 4vw;
  }

}
  /* ---------- ↓ SOLUTION PAGE ↓ ---------- */
  .Nigeria {
    background-color: white;
    margin:3% 20% 3% 20%;
  }

  .Nigeria p{
    font-family: sans-serif;
    font-size: 1.8vw;
    letter-spacing: 0.05em;
    line-height: 1.5em;
    font-weight: 500;
    padding: 4vw 2% 4% 2%;
  }

.Nigeria .NigeriaSituation p{
  margin: 2vw 2vw 2vw 2vw;
}
  .Nigeria h1{
    text-align: center;
    padding-top: 2%;
    font-size: 4vw;
  }

  .PrimarySchool{
    width: 60%;
    margin: -7% 20% 0% 20%;
    border: 3px solid black;
    border-radius: 2vw;
  }

.Solution{
  background-color: white;
  margin:3% 20% 3% 20%;
}

.Solution h1{
  text-align: center;
  padding-top: 2%;
  font-size: 4vw;
}

.Solution p{
  font-family: sans-serif;
  font-size: 1.8vw;
  letter-spacing: 0.05em;
  line-height: 1.5em;
  font-weight: 500;
  padding: 0 2% 3% 2%;
}

.Solution .SolutionTekst2 p {
  font-family: sans-serif;
  font-size: 1.8vw;
  letter-spacing: 0.05em;
  line-height: 1.5em;
  font-weight: 500;
  padding: 0 2% 3% 2%;
}

.Solution .SolutionBilder {
  width: 100%;
  margin: 0vw 0vw 3vw 0vw;
  display: flex;
  justify-content: center;
}

.SolutionBilder .AppPic1 {
  width: 16vw;
    padding: 2vw 2vw 2vw 2vw;
    margin: 2vw 2vw 2vw 11vw;
    border: solid;
    border-radius: 3vw;
    border-width: 0.6vw;
}

.SolutionBilder .AppPic2 {
  width: 16vw;
    float: right;
    border: solid;
    border-radius: 3vw;
    border-width: 0.6vw;
    padding: 2vw 2vw 2vw 2vw;
    margin: 2vw 11vw 2vw 2vw;
}

.SelfEdDecition p{
  margin: -4vw 2vw 2vw 2vw;
}
.Product{
  background-color: white;
  margin:3% 20% 0% 20%;
}

.Product h1{
  text-align: center;
  padding-top: 2%;
  font-size: 4vw;
}

.ThePilotNigeria h1{
  margin-top: 2vw;
}
.Product p{
  font-family: sans-serif;
  font-size: 1.8vw;
  letter-spacing: 0.05em;
  line-height: 1.5em;
  font-weight: 500;
  padding: 0 2% 3% 2%;
}
.LastNed{
  margin: 0 20% 0% 20%;
}

.AppStoren{
  width: 40%;
margin: 0% 30% 0% 30%;

}
.GooglePlayen{
  width: 43%;
    margin: 0% 30% 0% 28%;
}


@media screen and (max-width: 500px){
  .AppStoren{
    width: 60%;
    margin: 0% 20% 0% 20%;
  }
  .GooglePlayen{
    width: 60%;
    margin: 0% 20% 0% 20%;
}
}
@media screen and (max-width: 1250px){
  .Nigeria{
    margin:12.4% 7% 3% 7%;
  }

  .Solution{
    margin:3% 7% 3% 7%;

  }

  .Product{
    margin: 3% 7% 3% 7%;
  }
}

@media screen and (max-width: 1000px){
  .Nigeria{
    margin:18.4% 4% 3% 4%;
  }

.NavBar ul {
  padding: 5vw 2.7vw 0 0;
}
.VisjonTekst {
  margin-top: 18.4vw;
}

header {
  margin-top: -18.3vw;
}
  .Solution{
    margin:3% 4% 3% 4%;
  }

  .Product{
    margin:3% 4% 3% 4%;
  }
}

@media screen and (max-width: 380px){
  .Nigeria{
    margin:3% 4% 3% 4%;
  }

  .Solution{
    margin:3% 4% 3% 4%;
  }

  .Product{
    margin:3% 4% 3% 4%;
  }
}

@media screen and (min-width: 1250px)and (max-width: 1499px){
  .Solution{
    margin:3% 15% 3% 15%;
  }

  .Nigeria{
    margin:12.4% 15% 3% 15%;
    font-size: 2vw;
  }

  .Product{
    margin:3% 15% 3% 15%;
  }
}

@media screen and (min-width: 1500px){
  .Solution{
    margin:3% 10% 3% 10%;
  }

  .Nigeria{
    font-size: 2vw;
    margin:12% 10% 3% 10%;
  }

  .Product{
    margin:3% 10% 3% 10%;
  }
}

@media screen and (min-width: 0px) and (max-width: 500px){
  .Nigeria p{
    font-size: 3.5vw;
  }

  .Nigeria h1{
    font-size: 3.8vw;
  }
}
@media screen and (min-widt: 700px) and (max-widt: 1500){
  .Nigeria p{
    font-size: 2vw;
  }
}
@media screen and (min-width: 500px) and (max-width: 750px){
  .Nigeria p{
    font-size: 2.7vw;
  }

  .Nigeria h1{
    font-size: 4vw;
  }
}

@media screen and (min-width: 0px) and (max-width: 500px){
  .Solution p{
    font-size: 3.5vw;
  }

  .Solution h1{
    font-size: 3.8vw;
  }
}

@media screen and (min-width: 500px) and (max-width: 750px){
  .Solution p{
    font-size: 2.7vw;
  }

  .Solution h1{
    font-size: 4vw;
  }
}
@media screen and (min-width: 0px) and (max-width: 500px){
  .Solution .SolutionTekst2 p{
    font-size: 3.5vw;
  }
}

@media screen and (min-width: 500px) and (max-width: 750px){
   .Solution .SolutionTekst2 p{
    font-size: 2.7vw;
  }
}

@media screen and (min-width: 0px) and (max-width: 500px){
  .Product p{
    font-size: 3.5vw;
  }

  .Product h1{
    font-size: 3.8vw;
  }
}

@media screen and (min-width: 500px) and (max-width: 750px){
  .Product p{
    font-size: 2.7vw;
}

.Product h1{
  font-size: 4vw;
}

}

  /* ---------- ↓ OUR COMPANY PAGE ↓ ---------- */

.BookImg img{
  width: 65%;
  margin: 2vw 2vw 2vw 14vw;
  border-radius: 3vw;
}


  .Firma {
    margin-top: 3%;
    background-color: white;
    margin-left: 20%;
    margin-right: 20%;
  }

  .Firma h1 {
    font-family: inherit;
    text-align: center;
    padding-top: 2%;
    font-size: 4vw;
  }

  .Firma p{
    font-family: sans-serif;
    font-size: 1.8vw;
    letter-spacing: 0.05em;
    line-height: 1.5em;
    font-weight: 500;
    padding: 0 2% 3% 2%;
  }

  @media screen and (max-width: 1160px){
    .Firma{
      margin:3% 7% 3% 7%;
    }
}

  @media screen and (max-width: 640px){
    .Firma{
      margin:3% 4% 3% 4%;
    }
  }


  @media screen and (max-width: 380px){
    .Firma{
      margin:3% 4% 3% 4%;
    }
  }


  @media screen and (min-width: 1250px)and (max-width: 1499px){
    .Firma{
      margin:3% 15% 3% 15%;
    }
}

  @media screen and (min-width: 1500px){
    .Firma{
      margin:3% 10% 3% 10%;
    }
  }


  @media screen and (min-width: 0px) and (max-width: 500px){
    .Firma p{
      font-size: 3.5vw;
    }

    .Firma h1{
      font-size: 3.8vw;
    }
  }

  @media screen and (min-width: 500px) and (max-width: 750px){
    .Firma p{
      font-size: 2.7vw;
    }

    .Firma h1{
      font-size: 4vw;
    }
  }
