/* ---------- ↓ NAVIGATION BAR ↓ ---------- */
body {
  margin: 0;
  padding: 0;
  background-color: lightgray;
}

header {
  background: white;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.NavBar {
  float: right;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.container .ourLogo {
  float: left;
  padding: 1vw 0;
  width: 21%;
}

.NavBar li {
  display: inline-block;
  padding-top: 3vw;
  position: relative;
  margin-left: 5.8vw;
}

.NavBar a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 2.5vw;
  display: block;
  font-family:sans-serif;

}

.NavBar a:hover {
  color: black;
}

.NavBar a::before {
  content: '';
  display: block;
  height: 10px;
  background-color: blue;
  position: absolute;
  bottom: -3px;
  width: 0%;
  transition: all ease-in-out 200ms;
}

.NavBar a:hover::before {
  width: 100%;
}

.NavBar ul {
  padding: 0.5vw 14vw 0 0;
  margin: 0;
  list-style: none;
}

 @media only screen and (min-width: 0px) and (max-width: 1000px){
  .container .ourLogo {
    padding: 4vw 0;
  }


  .NavBar ul {
    padding: 5vw 4vw 0 0;
  }

  .NavBar .OurCompanyTitle {
    margin-left: 6vw;
  }

  .NavBar a {
    font-size: 3.4vw;
  }
}

/* ---------- ↓ INDEX PAGE ↓ ---------- */
.TekstboksVisjon {
  margin-top: 3%;
  background-color: white;
  height: 30vw;
  display: block;
}

.VisjonTekst p {
  margin-right: 8%;
  padding-top: 7%;
  font-family: sans-serif;
  font-size: 3.1vw;
  letter-spacing: 0.05em;
  line-height: 1.5em;
  font-weight: 500;
}

.TekstboksVisjon img {
  float: left;
  margin-right: 5%;
  height: 100%;
}

.VisjonHeleside {
  margin-top: 3%;
  display: none;
}

.VisjonHeleside img {
  width: 100%;
}

.TekstboksProblem {
  margin-top: 3%;
  background-color: white;
  margin-left: 15%;
  margin-right: 15%;
}

.TekstboksProblem h1 {
  text-align: center;
  padding-top: 1vw;
  font-family: sans-serif;
  font-size: 4vw;
}

.GenderGap{
  width: 60%;
margin: 2% 20% 2% 20%;
border: 3px solid black;
border-radius: 2vw;
}

.TekstboksProblem p {
  font-family: sans-serif;
  font-size: 1.8vw;
  letter-spacing: 0.05em;
  line-height: 1.5em;
  padding-left: 5%;
  padding-right: 5%;
  font-weight: 500;
}

<<<<<<< HEAD
.TekstboksStat {
  background-color: white;
  margin: 2vw 10vw 2vw 10vw;
}
.Remain{
  width: 60%;
  margin: 2% 20% 2% 20%;
  border-radius: 2vw;
}

.TekstboksStat h1 {
  text-align: center;
  font-family: inherit;
  font-weight: 1000;
  text-decoration: underline;
  padding-top: 2%;
}

.TekstboksStat p {
  font-family: sans-serif;
    font-size: 1.8vw;
    letter-spacing: 0.05em;
    line-height: 1.5em;
    padding-left: 5%;
    padding-right: 5%;
    font-weight: 500;
}

=======
>>>>>>> c293b8f3fc16ea8b538faaa2af47853338f0121f
@media screen and (max-width: 1160px){
  .TekstboksProblem{
    margin:3% 7% 3% 7%;
  }
}

@media screen and (max-width: 640px){
  .TekstboksProblem{
    margin:3% 4% 3% 4%;
  }
}

@media screen and (max-width: 380px){
  .TekstboksProblem{
    margin:3% 4% 3% 4%;
  }

}
@media screen and (min-width: 1250px)and (max-width: 1499px){
  .TekstboksProblem{
    margin:3% 15% 3% 15%;
  }
}

@media screen and (min-width: 1500px){
  .TekstboksProblem{
    margin:3% 10% 3% 10%;
  }
}

@media screen and (min-width: 0px) and (max-width: 500px){
  .TekstboksProblem p{
    font-size: 3.5vw;
  }
  .TekstboksProblem h1{
    font-size: 3.8vw;
  }
}

@media screen and (min-width: 500px) and (max-width: 750px){
  .TekstboksProblem p{
    font-size: 2.7vw;
  }
  .TekstboksProblem h1{
    font-size: 4vw;
  }

}

/* @media screen and (max-width:1177px) {
  .TekstboksVisjon {
    display: none;
  }

  .VisjonHeleside {
    display: block;

  }

  .VisjontekstHele {
    font-family: sans-serif;
    font-size: 1.5em;
    letter-spacing: 0.05em;
    line-height: 1.5em;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 3%;
    padding-top: 2%;
    font-weight: 500;
    background-color: white;
  }

  .VisjontekstHele h1 {
    text-align: center;
    font-family: inherit;
    font-weight: 500;
    text-decoration: underline;
  }
} */

  /* ---------- ↓ SOLUTION PAGE ↓ ---------- */
  .Nigeria {
    background-color: white;
    margin:3% 20% 3% 20%;
  }

  .Nigeria p{
    font-family: sans-serif;
    font-size: 1.8vw;
    letter-spacing: 0.05em;
    line-height: 1.5em;
    font-weight: 500;
    padding: 0 2% 3% 2%;
  }

  .Nigeria h1{
    text-align: center;
    text-decoration: underline;
    padding-top: 2%;
  }

  .PrimarySchool{
    width: 60%;
    margin: 2% 20% 2% 20%;
    border: 3px solid black;
    border-radius: 2vw;
  }

.Solution{
  background-color: white;
  margin:3% 20% 3% 20%;
}

.Solution h1{
  text-align: center;
  text-decoration: underline;
  padding-top: 2%;
}

.Solution p{
  font-family: sans-serif;
  font-size: 1.8vw;
  letter-spacing: 0.05em;
  line-height: 1.5em;
  font-weight: 500;
  padding: 0 2% 3% 2%;
}

.Solution .SolutionTekst2 p {
  font-family: sans-serif;
  font-size: 1.8vw;
  letter-spacing: 0.05em;
  line-height: 1.5em;
  font-weight: 500;
  padding: 0 2% 3% 2%;
}

.Solution .SolutionBilder {
  width: 100%;
  margin: 0vw 0vw 3vw 0vw;
  display: flex;
  justify-content: center;
}

.SolutionBilder .AppPic1 {
  width: 16vw;
  padding: 2vw 2vw 2vw 2vw;
  margin: 2vw 2vw 2vw 2vw;
  border: solid;
  border-radius: 3vw;
  border-width: 0.6vw;
}

.SolutionBilder .AppPic2 {
  width: 16vw;
  float: right;
  border: solid;
  border-radius: 3vw;
  border-width: 0.6vw;
  padding: 2vw 2vw 2vw 2vw;
  margin: 2vw 2vw 2vw 2vw;
}

.Product{
  background-color: white;
  margin:3% 20% 3% 20%;
}

.Product h1{
  text-align: center;
  text-decoration: underline;
  padding-top: 2%;
}

.Product p{
  font-family: sans-serif;
  font-size: 1.8vw;
  letter-spacing: 0.05em;
  line-height: 1.5em;
  font-weight: 500;
  padding: 0 2% 3% 2%;
}

@media screen and (max-width: 1160px){
  .Nigeria{
    margin:3% 7% 3% 7%;
  }

  .Solution{
    margin:3% 7% 3% 7%;

  }


  .Product{
    margin: 3% 7% 3% 7%;
  }
}

@media screen and (max-width: 640px){
  .Nigeria{
    margin:3% 4% 3% 4%;
  }

  .Solution{
    margin:3% 4% 3% 4%;
  }


  .Product{
    margin:3% 4% 3% 4%;
  }
}

@media screen and (max-width: 380px){
  .Nigeria{
    margin:3% 4% 3% 4%;
  }

  .Solution{
    margin:3% 4% 3% 4%;
  }


  .Product{
    margin:3% 4% 3% 4%;
  }
}

@media screen and (min-width: 1250px)and (max-width: 1499px){
  .Solution{

    margin:3% 15% 3% 15%;
  }

  .Nigeria{
    margin:3% 15% 3% 15%;
  }

  .Product{
    margin:3% 15% 3% 15%;
  }
}

@media screen and (min-width: 1500px){
  .Solution{
    margin:3% 10% 3% 10%;
  }


  .Nigeria{

    margin:3% 10% 3% 10%;
  }

  .Product{
    margin:3% 10% 3% 10%;
  }
}

@media screen and (min-width: 0px) and (max-width: 500px){
  .Nigeria p{
    font-size: 3.5vw;
  }

  .Nigeria h1{
    font-size: 3.5vw;
  }
}

@media screen and (min-width: 500px) and (max-width: 750px){
  .Nigeria p{
    font-size: 2.7vw;
  }

  .Nigeria h1{
    font-size: 2.7vw;
  }
}

@media screen and (min-width: 0px) and (max-width: 500px){
  .Solution p{
    font-size: 3.5vw;
  }

  .Solution h1{
    font-size: 3.5vw;
  }
}

@media screen and (min-width: 500px) and (max-width: 750px){
  .Solution p{
    font-size: 2.7vw;
  }

  .Solution h1{
    font-size: 2.7vw;
  }
}
@media screen and (min-width: 0px) and (max-width: 500px){
  .Solution .SolutionTekst2 p{
    font-size: 3.5vw;
  }
}

@media screen and (min-width: 500px) and (max-width: 750px){
   .Solution .SolutionTekst2 p{
    font-size: 2.7vw;
  }
}


@media screen and (min-width: 0px) and (max-width: 500px){
  .Product p{
    font-size: 3.5vw;
  }

  .Product h1{
    font-size: 3.5vw;
  }
}

@media screen and (min-width: 500px) and (max-width: 750px){
  .Product p{
    font-size: 2.7vw;
}

.Product h1{
  font-size: 2.7vw;
}

}

  /* ---------- ↓ OUR COMPANY PAGE ↓ ---------- */
  .Firma {
    margin-top: 3%;
    background-color: white;
    margin-left: 20%;
    margin-right: 20%;
  }

  .Firma h1 {
    font-family: inherit;
    font-weight: 500;
    text-align: center;
    text-decoration: underline;
    padding-top: 2%;
  }
  .Firma p{
    font-family: sans-serif;
    font-size: 1.8vw;
    letter-spacing: 0.05em;
    line-height: 1.5em;
    font-weight: 500;
    padding: 0 2% 3% 2%;
  }

  @media screen and (max-width: 1160px){
    .Firma{
      margin:3% 7% 3% 7%;
    }
}

  @media screen and (max-width: 640px){
    .Firma{
      margin:3% 4% 3% 4%;
    }
}

  @media screen and (max-width: 380px){
    .Firma{
      margin:3% 4% 3% 4%;
      font-size: 0.8em;
    }
  }

  @media screen and (min-width: 1250px)and (max-width: 1499px){
    .Firma{
      font-size: 1.2em;
      margin:3% 15% 3% 15%;
    }

  }


  @media screen and (min-width: 1500px){
    .Firma{
      font-size: 1.5em;
      margin:3% 10% 3% 10%;
    }

  }
